@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./normalize.css";

p {
	margin-top: 0;
}

input[class*="ant-select"] {
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}

div[class*="ant-select"] {
	&:focus-visible {
		outline: unset;
	}
}

table {
	.ant-table-cell {
		vertical-align: middle;
	}
}

@media print {
	html,
	body {
		height: 100%; /* Use 100% here to support printing more than a single page*/
		width: 297mm;
		margin: 0 !important;
		padding: 10mm !important;
		overflow: hidden;
	}
}
